<%- include('./partials/header.ejs') %>
    <main class="container" id="welcome">
        <h1>Welcome to Hime Hime Electronic Exchange</h1>
        <p>Where people go to trade for elctronics, gadgets, and gizmos galore!</p>
        <p>Check out our new section on Laptop Accessories!</p>
    </main>
<%- include('./partials/footer.ejs') %>