<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-7 col-lg-7" id="welcome">
            <h1>About the Hime Hime Electronic Exchange</h1>
            <p>This is a website created for the class ITIS 5166, or to those who didn't go to my university, Network Based Application Development</p>
            <p>The site acts as an exchange where users can trade in their devices for the devices of other users.</p>
            <p>Currently it is still under development as the semester is not over and we have more topics to learn!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>