<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-7 col-lg-7" id="welcome">
            <h1>Contact Me</h1>
            <p>My name is Himeth Jayakody and I'm a student at the University of North Carolina at Charlotte</p>
            <p>You can reach me through my email <em>hjayakod@uncc.edu</em></p>
            <p>Currently it is still under development as while the semester may be almost over, there's still more for me to do!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>